@use "./variables" as *;

@font-face {
    font-family: 'Saira';
    src: url("../../assets/fonts/Saira_Expanded-SemiBold.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: 'Saira';
    src: url("../../assets/fonts/Saira-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: 'Saira';
    src: url("../../assets/fonts/Saira-ExtraBold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: 'Saira';
    src: url("../../assets/fonts/Saira-Light.ttf") format("truetype");
    font-weight: 300;
}

