@use "../../styles/partials/variables" as *;
@use "../../styles/partials/globals" as *;

.hero-section {
  position: relative;
  width: 100%;
  height: 50vh; 
  background-size: cover;
  background-position: center;
  filter: grayscale(100%); /* Apply grayscale filter to make it black and white */
  
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: rgba(0, 0, 0, 0.7); /* Optional: semi-transparent dark overlay to improve text readability */
  }

 &__title {
    font-size: 4rem; 
    font-family: 'Anton'; 
    color: white;
    text-align: center;
    margin-top: 4rem;
   
  }
}
