@use "../../styles/partials/variables" as *;
@use "../../styles/partials/globals" as *;
@use "../../styles/partials/breakpoints" as *;

.hero-section {
  position: relative;
  width: 100%;
  height: 55vh; 
  background-size: cover;
  background-position: center;
  filter: grayscale(100%); 
  @include desktop{
    height: 45vh;
  }
  
  .hero-section__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: rgba(0, 0, 0, 0.75); 
    color: white;
    
  }

  .hero-section__title {
    font-size: 5rem; 
    font-family: 'Anton';
    color: white;
    text-align: center;
    margin-top: 15%;
    line-height: 50px;
   
  }
}
