
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/globals" as *;
@use "../../styles/partials/breakpoints" as *;


.reviews__container{
    height: 400px;
    text-align: left;
 
}
.reviews__bottom{
    background-color: $primary-black;
    height: 4rem;

}
.reviews{
    background-color: $primary-black;
    padding: 6rem 1rem 0 1rem;
    @include desktop{
            display: flex;
    flex-direction: column;
    align-items: center;
    }
    &__heading{
        font-size: 2.5rem;
        font-family: "Anton";
        line-height: 3.125rem;
        text-align: center;
        color: white;
        padding-bottom: 2rem;
        @include desktop{
            font-size: 3.125rem;
            
        }
       
    }
    &__image{
        width: 100%;
        @include desktop{
           height: 40vh;
           width: auto; 
         
        }
    }
}