@use "../../styles/partials/variables" as *;
@use "../../styles/partials/globals" as *;
@use "../../styles/partials/breakpoints" as *;

.amenities {
  color: white;
  background-color: $primary-black;
  text-align: center;
  padding: 2rem;
 
  &__heading {
    font-size: 2.5rem;
    line-height: 50px;
    margin-bottom: 1rem;
    font-family: "Anton";

    .highlight {
      color: $primary-dark;
    }
  }
  @include desktop{
    padding: 0;
   
  }

  &__subheading {
    font-size: 1.3125rem;
    margin-bottom: 2rem;
    font-weight: 200;
    @include desktop{
      font-size: 1rem;
    }
  }

  &__card {
    max-width: 400px;
    margin: 0 auto 2rem;
    padding: 1.5rem;
    border-radius: 10px;
  }

  &__card-heading {
    font-family: "Anton";
    font-size: 24px;
    margin-bottom: 1.5rem;
    @include desktop{
      font-size: 1rem;
    }
  }

  &__card-img {
    display: inline-block;
    padding: 20px;
    border: 2px solid $primary-dark;
    border-radius: 50%;
    margin-bottom: 1rem;


    img {
      width: 50px;
      height: 50px;
      display: block;
      filter: invert(75%) sepia(83%) saturate(500%) hue-rotate(30deg) brightness(100%) contrast(95%);
    }
  }

  &__card-desp {
    font-size: 1.3125rem;
    font-weight: 200;

    @include desktop{
      font-size: 1rem;
    }
  }

  &__button {
    color: black;
    background-color: $primary-dark;
    width: 200px;
    height: 60px;
    font-family: "Saira";
    font-weight: 400;
    font-size: 1.3125rem;
    border-radius: 5px;
    cursor: pointer;
    margin: 2rem auto 0;
    display: block;
    color: black;
    min-width: 18.75rem;
    padding: .625rem 1.25rem;
  
    transition: background-color 0.2s ease;
    text-decoration: none;
    @include desktop{
      font-size: 1rem;
    }

    &:hover {
      background-color: darken($primary-dark, 10%);
    }
   
  }

  &__mobile {
    display: block;

    @include desktop {
      display: none;
    }
  }

  &__desktop {
    display: none;

    @include desktop {
      display: block;
    }
  }

  &__circle-layout {
    position: relative;
    width: 100%;
    min-height: 800px;
    background-image: url("../../assets/images/womanhero.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
   
  }

  &__card--1 {
    position: absolute;
    top: 5%;
    left: 25%;
    transform: translate(-50%, 0);
      min-width: 300px;
    overflow-y: auto;
    max-height: 400px;
  }

  &__card--5 {
    position: absolute;
    bottom: 25%;
    right: 75%;
    transform: translate(50%, 50%);
      min-width: 300px;
    overflow-y: auto;
    max-height: 400px;
  }

  &__card--7 {
    position: absolute;
    bottom: 20%;
    left: 80%;
    transform: translate(-50%, 50%);
      min-width: 300px;
    overflow-y: auto;
    max-height: 400px;
  }

  &__card--10 {
    position: absolute;
    top: 5%;
    left: 85%;
    transform: translate(-50%, 0);
    min-width: 300px;
    overflow-y: auto;
    max-height: 400px;
  }

  @include desktop {
    .amenities__button {
      position: absolute;
      bottom: 2rem;
      left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    background-color: $primary-dark;
    color: $primary-black;
    font-size: 1.3125rem;
    font-family: "Saira";
    font-weight: 400;
    height: 60px;
    width: 13.75rem;
    border: none;
    border-radius: 5px;
    padding: .625rem 1.25rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    text-decoration: none;
    color: black;
    min-width: 18.75rem;
    text-decoration: none;

  

    &:hover {
      background-color: darken($primary-dark, 10%);
    }
    }
  }
}
.amenities__circle-layout::-webkit-scrollbar {
  display: none; // Chrome, Safari, Edge
}