@use "../../styles/partials/variables" as *;
@use "../../styles/partials/globals" as *;
@use "../../styles/partials/breakpoints" as *;


.build {
  
  background-color: $primary-black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6.25rem;
  @include desktop{
    flex-direction: row;
    gap: 1rem;
  
  }
  &__slider{
    @include desktop{
      order: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 0;
    }
  }

  &__heading {
    font-family: "Anton";
    font-size: 2.5rem;
    line-height: 3.125rem;
    .highlight {
      color: $primary-dark;
    }
    color: white;
    text-align: center;
    @include desktop{
      font-size: 3.125rem;
    }
  
  }

  &__paragraph,
  &__sentence {
    padding: 1rem;
    text-align: center;
    font-size: 1.3125rem;
    font-weight: 200;
  }

  &__button {
    color: black;
    background-color: $primary-dark;
    font-family: "Saira";
    height: 3.75rem;
    width: 18.75rem;
    font-size: 1.3125rem;
    font-weight: 400;
    border-radius: 5px;
  }

&__text{
     padding: 1rem;
      @include desktop {
      order: 2;
      width: 95%;
      display: flex;
      flex-direction: column;
      align-items: center;

    

  }
 
}
  
}




