@use "../../styles/partials/variables" as *;
@use "../../styles/partials/globals" as *;
@use "../../styles/partials/breakpoints" as *;

.gallery {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
  background-color: $primary-black;
  @include desktop{
    padding: 1rem 4rem;
  }

  &__mobile {
    text-align: center;
  }

  &__image {
    width: 100%;

    @include desktop {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  &__text {
    font-size: 21px;
    color: white;
    font-family: "Saira";
    font-weight: 200;
  }

  &__dots {
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  &__dot {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $primary-black;
    color: white;
    font-family: "Anton";
    font-size: 24px;
    border: 2px solid $primary-dark;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;

    &--active {
      background-color: $primary-dark;
      color: black;
    }
  }

  &__grid {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__item {
    text-align: center;

    @include desktop {
      width: 100%;

      &:nth-child(even) .gallery__content {
        flex-direction: row-reverse;
      }
    }
  }

  &__content {
    @include desktop {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 3rem;
    }
  }

  &__heading {
    font-size: 2.5rem;
    font-family: "Anton";
    margin-top: 2.5rem;
    line-height: 50px;
    margin-bottom: 1rem;
    color: white;
    text-align: center;

    @include desktop {
     
      font-size: 2rem;
      margin-top: 0;
      text-align: left;
    }

    // &:first-child{
    //   @include desktop{
    //     color: $primary-dark;
    //   }
    // }
  }

  &__heading-text {
    @include desktop {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;
      gap: 1rem;
    }
  }

  &__content img {
    @include desktop {
      width: 50%;
      height: auto;
    }
  }
}
