@use "../../styles/partials/variables" as *;
@use "../../styles/partials/globals" as *;
@use "../../styles/partials/breakpoints" as *;

.training-card {
  background-color: #121215;
  padding: 2rem;
  color: white;

  @include desktop{
   
    max-width: 25rem;
  }
  
  &__title {
    font-size: 2.5rem;
    font-family: "Anton";
    line-height: 50px;
    margin-bottom: 1rem;
  }

  &__price {
    color: $primary-dark;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: .5rem;

  }
  &__price-value{
 font-size: 2.5rem;
    font-weight: bold;
  }
  &__price-freq{
    font-size: 1.3125rem;
  }

  &__description{
    font-family: "Saira";
    font-size: 1.3125rem;
    margin-bottom: 1.5625rem;

  }


  &__button {
    background-color: $primary-dark;
    color: $primary-black;
    font-size: 1.3125rem;
    font-family: "Saira";
    height: 60px;
    width: 13.75rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: darken($primary-dark, 10%);
    }
  }

  &__features {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.3125rem;
    font-weight: 200;
  }

  &__feature {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
  }

  &__icon-wrapper {
    background-color: $primary-dark; 
    height: 4.25rem;
    width: 4.25rem;
    padding: 28px 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }

  &__icon {
    width: 30px;
    height: 32px;
    object-fit: contain;
  }
}

