@use "../../styles/partials/variables" as *;
@use "../../styles/partials/globals" as *;
@use "../../styles/partials/breakpoints" as *;



.amenities {
    background-color: $primary-black;
    padding: 4rem 1rem;
    @include desktop{
        padding: 8rem 2rem;
    }

    &__section {
        margin-bottom: 4rem;
        

        .amenities__heading {
            font-size: 2.5rem;
            line-height: 3.125rem;
            margin-bottom: 1rem;
            text-align: left;
            @include desktop{
                padding: 0 4rem;
                font-size: 3.125rem;
               
            }
           
            

            &-text {
                color: white;

                &--highlight {
                    color: $primary-dark;
                }
            }
        }

        .amenities__description {
            font-size: 1.3125rem;
            font-weight: 200;
            margin-bottom: 1rem;
            color: white;
            text-align: left;

            @include desktop{
                 max-width: 50%;
            }
        }

        .amenities__bullets {
            list-style: none;
            text-align: left;

            .amenities__bullet-item {
                align-items: center;
                margin-bottom: 0.5rem;
                font-size: 1.3125rem;
                padding: 0.75rem 0;
                border-bottom: 1px solid rgba(255, 255, 255, 0.05);

                &:last-child {
                    border-bottom: none;
                }

                .amenities__bullet-icon {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    width: 20px;
                    height: 20px;
                    background-color: $primary-dark;
                    color: black;
                    border-radius: 50%;
                    font-size: 1rem;
                    margin-right: 0.75rem;
                }
            }
        }

        .amenities__slider {
            display: flex;
            gap: 1rem;
            margin-top: 1rem;
            padding: 1rem;

            img {
                width: 100%;
                border-radius: 8px;
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            }
        }
    }

    &__heading {
     
        &-special{
            text-align: center;
          font-size: 2.5rem;
          font-family: "Anton";
          @include desktop{
            font-size: 3.125rem;
          }
           
        }
        &-special2{
             font-family: "Anton";
            font-size: 1.875rem;
            padding: 1rem 0 2rem 0;
        }
    

        &-text {
            color: white;

            &--highlight {
                color: $primary-dark;
            }
        }
    }

    &__image{
        width: 100%;
        padding: 1rem;

        @include desktop{
            padding: 0;

              }
    }

    &__description, &__description-special {
        text-align: center;
        padding: 1rem 2rem;
        font-size: 1.3125rem;
    }
}

.amenities{

    &__container{
        @include desktop{
            display: flex;
            padding: 0 2rem;

        }
    }
}

.amenities__images-container{
    @include desktop{
        display: flex;
        gap: 1rem;
    
    }
    
}
.amenities__images-writing{
    @include desktop{
        display: flex;
        flex-direction: column;
        width: 33%;
        align-items: center;
        justify-content: center;
       
    }
}

.amenities__heading{
    @include desktop{
        font-size: 50px;
    }
}
