@use "../../styles/partials/variables" as *;
@use "../../styles/partials/globals" as *;
@use "../../styles/partials/breakpoints" as *;


.homepage {
  font-family: "Anton";
  background-color: $primary-black;

  &__heading-small {
    font-size: 2.5rem;
    color: white;
    line-height: 3.125rem;
    @include desktop{
      font-size: 3.125rem;
    }
    
  }

  &__heading-big {
    font-size: 5rem;
    color: $primary-dark;
   
  }

  &__button {
    color: black;
    min-width: 18.75rem;
   
  
      background-color: $primary-dark;
    color: $primary-black;
    font-size: 1.3125rem;
    font-family: "Saira";
    font-weight: 500;
    height: 60px;

    border-radius: 5px;
    padding: .625rem 1.25rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    text-decoration: none;

    &:hover {
      background-color: darken($primary-dark, 10%);
    }
  }

  &__header {
    position: relative;
    height: 50vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url("../../assets/images/homebackground.jpeg");
      background-size: cover;
      background-position: right;
      filter: grayscale(100%);
      z-index: -1;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.6);
      z-index: -1;
    }
  }

  &__heading {
    margin-top: 6.25rem;
    font-family: "Anton";
    font-size: 40px;
    line-height: 3.125rem;
    text-align: center;
    color: white;
    padding: 1rem 1rem 0 1rem;
  }
  &__details {
    color: white;
    font-size: 1.3125rem;
    font-family: "Saira";
    font-weight: 200;
    padding: 1rem 1rem;
    text-align: center;
  }

  &__video{
    border: 5px solid $primary-dark;
  }
}

.homepage {
  &__videocontainer {
    display: flex;
    justify-content: center;
    align-items: center;
   margin-top: 6.25rem;
   padding: 2rem;
  }

  &__video-wrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border-radius: 8px;

    &.playing .homepage__play-button {
      opacity: 0;
      pointer-events: none;
      visibility: hidden !important;
      transition: opacity 0.3s ease;
    }

    &.playing:active, &.playing:hover .homepage__play-button {
      opacity: 1;
      pointer-events: auto;
      visibility: visible !important;
    }
  }

  &__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  &__play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5%;
    aspect-ratio: 1/1;
    font-size: 2vw;
    color: black;
    background-color: $primary-dark;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Saira", Arial, sans-serif;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s ease, background-color 0.3s ease;

    &:hover {
      background-color: darken($primary-dark, 10%)
    }
}
}
.homepage__amenities-hero {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 0 5rem 0 0;
  overflow-x: hidden;
  background-color: $primary-black;
}

.homepage__amenities-heroimg {
  height: 450px;

  display: block;

}
.homepage__cards-container{
  background-color: $primary-black;

}
.homepage__card-green .training-card{
  background-color: $primary-dark;
 
}

.homepage__card-green .training-card__title{
  color: $primary-black;
}
.homepage__card-green .training-card__price{
  color: $primary-black;
}
.homepage__card-green .training-card__description{
  color: $primary-black;
  font-weight: 400;
}
.homepage__card-green .training-card__feature{
  color: $primary-black;
  font-weight: 400;
  border-bottom: 1px solid #414141;
  padding-bottom: 1rem;
  
}
.homepage__card-green .training-card__feature:last-child{
  border-bottom: none;
}
.homepage__card-green .training-card__button{
color: white;
background-color: $primary-black;
margin-top: 1rem;
}

.homepage__cards-container .training-card{
 margin: 1rem 1rem 0 1rem;
 @include desktop{
  margin: 0;
 }
}
.homepage__cards-container-heading{
  color: white;
  padding: 3rem 1rem;
  text-align: center;
  font-size: 3.125rem;
  line-height: 40px;
}
.homepage__cards{
  @include desktop{
    padding: 1rem;
    gap: 1rem;
display: flex;
justify-content: center;
align-items: center;
  }
}
.homepage__amenities-hero{
  @include desktop{
    display: none;
  }
}



