@use "../../styles/partials/variables" as *;
@use "../../styles/partials/globals" as *;
@use "../../styles/partials/breakpoints" as *;

.banner {
  background-color: $primary-dark;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-bottom: 0;
  @include desktop{
    display: flex;
    flex-direction: row;
  }

  &__header {
    text-align: center;
    @include desktop{
      min-width: 400px;
    }
  }

  &__heading {
    font-family: "Anton";
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
 
   
  }
  &__heading-text{
     font-size: 2.5rem;
     line-height: 3.125rem;


     @include desktop{
      font-size: 3.125rem;
     }

  }

  &__heading-button {
    background-color: $primary-black;
    color: white;
    width: 100%;
    max-width: 250px;
    min-height: 50px;
    font-size: 1rem;
    font-family: "Saira", sans-serif;
    padding: 10px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
  }

}
.banner__images {
  display: flex;
  justify-content: space-between; 
  gap: 1rem; // 1rem gap between images
  position: relative; // This makes the container the reference point for absolute positioning
  align-items: flex-start; // Align to the top of the container
  background-color: $primary-dark;

  @include desktop{
    
  }
}

.banner__heroimg {
  flex: 1; // Make the hero image flexible
  position: relative; // Needed for positioning the dumbbells image inside it
  margin-bottom: -8px;
  img {
    width: 80%; // Hero image takes up 100% of the available width
    height: auto; // Maintain aspect ratio
  }
}

.banner__dumbbells {
  position: absolute; // Position the dumbbells image absolutely within the hero image container
  bottom: .5rem; // Offset the dumbbells image from the bottom of the hero image
  right: 8%; // Adjust left offset (as a percentage to keep relative scaling)
  max-width: 30%; // Make sure the dumbbells image resizes proportionally with the hero image
  height: auto;
  img {
    width: 100%; // Ensure the dumbbells image scales correctly within its container
    height: auto; // Maintain aspect ratio
  }
}

