@use "../../styles/partials/variables" as *;
@use "../../styles/partials/globals" as *;
@use "../../styles/partials/breakpoints" as *;



.slider {
  &__container {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    padding: 3rem;
    padding-bottom: 0;
    margin-bottom: 100px;
    max-height: fit-content;
    @include desktop{
      width: 60%;
    }
  }

  &__man {
    width: 100%; 
    height: auto;
    max-width: 500px;
   margin: 0 auto;

   @include desktop{
    width: 45%;
   }



  }
}